// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Colors
$background: #F5F7FA;
$background-hover: #E4E7EB;
$text-primary: #52606D;
$text-hover: #323F4B;
$text-secondary: #9AA5B1;

$footer-background: #F5F7FA;
$footer-text: #52606D;

$primary: #1CD4D4;
$primary-invert: findColorInvert($primary);
$primary-text: #07818F;
$primary-text-invert: findColorInvert($primary-text);

$tlp-red: #cd0033;
$tlp-red-invert: findColorInvert($tlp-red);
$tlp-amber: #ffc000;
$tlp-amber-invert: findColorInvert($tlp-amber);
$tlp-green: #33ff00;
$tlp-green-invert: findColorInvert($tlp-green);
$tlp-white: #ffffff;
$tlp-white-invert: findColorInvert($tlp-white);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Links
$link: $primary-text;
$link-invert: $primary-invert;
$link-focus-border: $primary-text;

// Nav
$navbar-background-color: $background;
$navbar-box-shadow-color: $background-hover;
$navbar-item-color: $text-primary;
$navbar-item-hover-color: $text-hover;
$navbar-item-hover-background-color: $background-hover;

// Footer
$footer-background-color: $footer-background;
$footer-color: $footer-text;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),

    "primary": ($primary, $primary-invert),
    "tlp-red": ($tlp-red, $tlp-red-invert),
    "tlp-amber": ($tlp-amber, $tlp-amber-invert),
    "tlp-green": ($tlp-green, $tlp-green-invert),
    "tlp-white": ($tlp-white, $tlp-white-invert)
);

#navbar-border-top {
    border-top: 1px solid $primary;
}

#navbar-search:hover, #navbar-search:focus-within, #navbar-search:active {
    background-color: $background;
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-extensions";

$mdi-font-path: '~@mdi/font/fonts/';
@import '~@mdi/font/scss/materialdesignicons';
